<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Positive">
        <groups>
            <run>
                <include name="positive"/>
            </run>
        </groups>
        <classes>
            <class name="CalcTest"/>
        </classes>
    </test>

    <test name="Negative">
        <groups>
            <run>
                <include name="negative"/>
            </run>
        </groups>
        <classes>
            <class name="CalcTest"/>
        </classes>
    </test>

    <test name="Testobject">
        <groups>
            <run>
                <include name="object"/>
            </run>
        </groups>
        <classes>
            <class name="CalcTest"/>
        </classes>
    </test>

</suite>
